<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/StyleSheet.css" />
    @{
        if (ViewBag.Title != null)
        {
            <title>@ViewBag.Title</title>
        }
    }
</head>
<body>
    <header>
        <h1 id="TopLeftHeaderCell">WNET</h1>
        <nav class="headerNav">
            <ul class="headerUl">
@{
            // Build the links menu from database table MenuLinks:
            foreach (var item in ViewBag.MenuLinks)
            {
                <li class="headerLi"><a href="@item.LinkURL">@item.Title</a></li>
            }
}
            </ul>
        </nav>
        @Html.ActionLink("Home", "Index", "Home", null, new { id = "TopRightHeaderCell" })
    </header>

    <main class="main">
        @{
            if (ViewBag.Title != null)
            {
                <h2 class="Title">@ViewBag.Title</h2>
            }
            @RenderBody();
        }
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year Stefan Sundbeck</p>
    </footer>
    <script src="~/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>
